<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 128.2 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 144.7 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 tzdata-2025.1

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")
df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [5]:
## Write your code here
duplicate_rows = df[df.duplicated(keep=False)]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")
print(duplicate_rows.head())

Number of duplicate rows: 0
Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [8]:
import numpy as np
missing_data = df.isnull()
missing_data

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,True
3,False,False,False,False,True,False,True,False,False,False,...,True,True,True,True,True,True,False,False,True,True
4,False,False,False,False,True,False,True,False,False,False,...,True,True,True,True,True,True,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
65433,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
65434,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
65435,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
65436,False,False,False,False,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

ResponseId
ResponseId
False    65437
Name: count, dtype: int64

MainBranch
MainBranch
False    65437
Name: count, dtype: int64

Age
Age
False    65437
Name: count, dtype: int64

Employment
Employment
False    65437
Name: count, dtype: int64

RemoteWork
RemoteWork
False    54806
True     10631
Name: count, dtype: int64

Check
Check
False    65437
Name: count, dtype: int64

CodingActivities
CodingActivities
False    54466
True     10971
Name: count, dtype: int64

EdLevel
EdLevel
False    60784
True      4653
Name: count, dtype: int64

LearnCode
LearnCode
False    60488
True      4949
Name: count, dtype: int64

LearnCodeOnline
LearnCodeOnline
False    49237
True     16200
Name: count, dtype: int64

TechDoc
TechDoc
False    40897
True     24540
Name: count, dtype: int64

YearsCode
YearsCode
False    59869
True      5568
Name: count, dtype: int64

YearsCodePro
YearsCodePro
False    51610
True     13827
Name: count, dtype: int64

DevType
DevType
False    59445
True      5992
Name: count, dtype: int64

OrgSize
OrgSize
False    47480
True     17957
Name: count, dtype: int64

PurchaseInfluence
PurchaseInfluence
False    47406
True     18031
Name: count, dtype: int64

BuyNewTool
BuyNewTool
False    45181
True     20256
Name: count, dtype: int64

BuildvsBuy
BuildvsBuy
False    43358
True     22079
Name: count, dtype: int64

TechEndorse
TechEndorse
False    43668
True     21769
Name: count, dtype: int64

Country
Country
False    58930
True      6507
Name: count, dtype: int64

Currency
Currency
False    46684
True     18753
Name: count, dtype: int64

CompTotal
CompTotal
False    33740
True     31697
Name: count, dtype: int64

LanguageHaveWorkedWith
LanguageHaveWorkedWith
False    59745
True      5692
Name: count, dtype: int64

LanguageWantToWorkWith
LanguageWantToWorkWith
False    55752
True      9685
Name: count, dtype: int64

LanguageAdmired
LanguageAdmired
False    50872
True     14565
Name: count, dtype: int64

DatabaseHaveWorkedWith
DatabaseHaveWorkedWith
False    50254
True     15183
Name: count, dtype: int64

DatabaseWantToWorkWith
DatabaseWantToWorkWith
False    42558
True     22879
Name: count, dtype: int64

DatabaseAdmired
DatabaseAdmired
False    38557
True     26880
Name: count, dtype: int64

PlatformHaveWorkedWith
PlatformHaveWorkedWith
False    42366
True     23071
Name: count, dtype: int64

PlatformWantToWorkWith
PlatformWantToWorkWith
False    34532
True     30905
Name: count, dtype: int64

PlatformAdmired
PlatformAdmired
True     34060
False    31377
Name: count, dtype: int64

WebframeHaveWorkedWith
WebframeHaveWorkedWith
False    45161
True     20276
Name: count, dtype: int64

WebframeWantToWorkWith
WebframeWantToWorkWith
False    38535
True     26902
Name: count, dtype: int64

WebframeAdmired
WebframeAdmired
False    34943
True     30494
Name: count, dtype: int64

EmbeddedHaveWorkedWith
EmbeddedHaveWorkedWith
True     43223
False    22214
Name: count, dtype: int64

EmbeddedWantToWorkWith
EmbeddedWantToWorkWith
True     47837
False    17600
Name: count, dtype: int64

EmbeddedAdmired
EmbeddedAdmired
True     48704
False    16733
Name: count, dtype: int64

MiscTechHaveWorkedWith
MiscTechHaveWorkedWith
False    39443
True     25994
Name: count, dtype: int64

MiscTechWantToWorkWith
MiscTechWantToWorkWith
False    32964
True     32473
Name: count, dtype: int64

MiscTechAdmired
MiscTechAdmired
True     35841
False    29596
Name: count, dtype: int64

ToolsTechHaveWorkedWith
ToolsTechHaveWorkedWith
False    52482
True     12955
Name: count, dtype: int64

ToolsTechWantToWorkWith
ToolsTechWantToWorkWith
False    46084
True     19353
Name: count, dtype: int64

ToolsTechAdmired
ToolsTechAdmired
False    43997
True     21440
Name: count, dtype: int64

NEWCollabToolsHaveWorkedWith
NEWCollabToolsHaveWorkedWith
False    57592
True      7845
Name: count, dtype: int64

NEWCollabToolsWantToWorkWith
NEWCollabToolsWantToWorkWith
False    52087
True     13350
Name: count, dtype: int64

NEWCollabToolsAdmired
NEWCollabToolsAdmired
False    50711
True     14726
Name: count, dtype: int64

OpSysPersonal use
OpSysPersonal use
False    58174
True      7263
Name: count, dtype: int64

OpSysProfessional use
OpSysProfessional use
False    52973
True     12464
Name: count, dtype: int64

OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncHaveWorkedWith
False    48093
True     17344
Name: count, dtype: int64

OfficeStackAsyncWantToWorkWith
OfficeStackAsyncWantToWorkWith
False    38966
True     26471
Name: count, dtype: int64

OfficeStackAsyncAdmired
OfficeStackAsyncAdmired
False    37204
True     28233
Name: count, dtype: int64

OfficeStackSyncHaveWorkedWith
OfficeStackSyncHaveWorkedWith
False    55545
True      9892
Name: count, dtype: int64

OfficeStackSyncWantToWorkWith
OfficeStackSyncWantToWorkWith
False    46711
True     18726
Name: count, dtype: int64

OfficeStackSyncAdmired
OfficeStackSyncAdmired
False    44712
True     20725
Name: count, dtype: int64

AISearchDevHaveWorkedWith
AISearchDevHaveWorkedWith
False    44453
True     20984
Name: count, dtype: int64

AISearchDevWantToWorkWith
AISearchDevWantToWorkWith
False    36701
True     28736
Name: count, dtype: int64

AISearchDevAdmired
AISearchDevAdmired
False    35543
True     29894
Name: count, dtype: int64

NEWSOSites
NEWSOSites
False    60286
True      5151
Name: count, dtype: int64

SOVisitFreq
SOVisitFreq
False    59536
True      5901
Name: count, dtype: int64

SOAccount
SOAccount
False    59560
True      5877
Name: count, dtype: int64

SOPartFreq
SOPartFreq
False    45237
True     20200
Name: count, dtype: int64

SOHow
SOHow
False    58962
True      6475
Name: count, dtype: int64

SOComm
SOComm
False    59163
True      6274
Name: count, dtype: int64

AISelect
AISelect
False    60907
True      4530
Name: count, dtype: int64

AISent
AISent
False    45873
True     19564
Name: count, dtype: int64

AIBen
AIBen
False    36894
True     28543
Name: count, dtype: int64

AIAcc
AIAcc
False    37302
True     28135
Name: count, dtype: int64

AIComplex
AIComplex
False    37021
True     28416
Name: count, dtype: int64

AIToolCurrently Using
AIToolCurrently Using
False    35072
True     30365
Name: count, dtype: int64

AIToolInterested in Using
AIToolInterested in Using
True     34746
False    30691
Name: count, dtype: int64

AIToolNot interested in Using
AIToolNot interested in Using
True     41023
False    24414
Name: count, dtype: int64

AINextMuch more integrated
AINextMuch more integrated
True     51999
False    13438
Name: count, dtype: int64

AINextNo change
AINextNo change
True     52939
False    12498
Name: count, dtype: int64

AINextMore integrated
AINextMore integrated
True     41009
False    24428
Name: count, dtype: int64

AINextLess integrated
AINextLess integrated
True     63082
False     2355
Name: count, dtype: int64

AINextMuch less integrated
AINextMuch less integrated
True     64289
False     1148
Name: count, dtype: int64

AIThreat
AIThreat
False    44689
True     20748
Name: count, dtype: int64

AIEthics
AIEthics
False    41548
True     23889
Name: count, dtype: int64

AIChallenges
AIChallenges
False    37531
True     27906
Name: count, dtype: int64

TBranch
TBranch
False    44477
True     20960
Name: count, dtype: int64

ICorPM
ICorPM
True     35636
False    29801
Name: count, dtype: int64

WorkExp
WorkExp
True     35779
False    29658
Name: count, dtype: int64

Knowledge_1
Knowledge_1
True     36773
False    28664
Name: count, dtype: int64

Knowledge_2
Knowledge_2
True     37416
False    28021
Name: count, dtype: int64

Knowledge_3
Knowledge_3
True     37342
False    28095
Name: count, dtype: int64

Knowledge_4
Knowledge_4
True     37407
False    28030
Name: count, dtype: int64

Knowledge_5
Knowledge_5
True     37557
False    27880
Name: count, dtype: int64

Knowledge_6
Knowledge_6
True     37573
False    27864
Name: count, dtype: int64

Knowledge_7
Knowledge_7
True     37659
False    27778
Name: count, dtype: int64

Knowledge_8
Knowledge_8
True     37679
False    27758
Name: count, dtype: int64

Knowledge_9
Knowledge_9
True     37802
False    27635
Name: count, dtype: int64

Frequency_1
Frequency_1
True     37068
False    28369
Name: count, dtype: int64

Frequency_2
Frequency_2
True     37073
False    28364
Name: count, dtype: int64

Frequency_3
Frequency_3
True     37727
False    27710
Name: count, dtype: int64

TimeSearching
TimeSearching
True     36526
False    28911
Name: count, dtype: int64

TimeAnswering
TimeAnswering
True     36593
False    28844
Name: count, dtype: int64

Frustration
Frustration
True     37186
False    28251
Name: count, dtype: int64

ProfessionalTech
ProfessionalTech
True     37673
False    27764
Name: count, dtype: int64

ProfessionalCloud
ProfessionalCloud
True     36946
False    28491
Name: count, dtype: int64

ProfessionalQuestion
ProfessionalQuestion
True     36630
False    28807
Name: count, dtype: int64

Industry
Industry
True     36579
False    28858
Name: count, dtype: int64

JobSatPoints_1
JobSatPoints_1
True     36113
False    29324
Name: count, dtype: int64

JobSatPoints_4
JobSatPoints_4
True     36044
False    29393
Name: count, dtype: int64

JobSatPoints_5
JobSatPoints_5
True     36026
False    29411
Name: count, dtype: int64

JobSatPoints_6
JobSatPoints_6
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_7
JobSatPoints_7
True     35989
False    29448
Name: count, dtype: int64

JobSatPoints_8
JobSatPoints_8
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_9
JobSatPoints_9
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_10
JobSatPoints_10
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_11
JobSatPoints_11
True     35992
False    29445
Name: count, dtype: int64

SurveyLength
SurveyLength
False    56182
True      9255
Name: count, dtype: int64

SurveyEase
SurveyEase
False    56238
True      9199
Name: count, dtype: int64

ConvertedCompYearly
ConvertedCompYearly
True     42002
False    23435
Name: count, dtype: int64

JobSat
JobSat
True     36311
False    29126
Name: count, dtype: int64

In [24]:
print (missing_data['EdLevel'].value_counts())
most_frequent_value = df['EdLevel'].mode()[0]

EdLevel
False    60784
True      4653
Name: count, dtype: int64

In [28]:
print(df['EdLevel'].value_counts())

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          10365
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        6831
Some college/university study without earning a degree                                 2793
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     1185
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         1155
Associate degree (A.A., A.S., etc.)                                                     750
Something else                                                                          209
Primary/elementary school                                                               147
Name: count, dtype: int64

In [29]:
most_frequent_value = df['EdLevel'].mode()[0]
print(f"The most frequent value in 'EdLevel': {most_frequent_value}")

The most frequent value in 'EdLevel': Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [32]:
df = df.copy()
df['EdLevel'] = df['EdLevel'].replace(np.nan, "Bachelor's degree (B.A., B.S., B.Eng., etc.)")

In [35]:
missing_data = df.isnull()
print (missing_data['EdLevel'].value_counts())  
print('')
print (df['EdLevel'].value_counts())

EdLevel
False    23435
Name: count, dtype: int64

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          10365
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        6831
Some college/university study without earning a degree                                 2793
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     1185
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         1155
Associate degree (A.A., A.S., etc.)                                                     750
Something else                                                                          209
Primary/elementary school                                                               147
Name: count, dtype: int64

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [61]:
print(df['ConvertedCompYearly'].head())
print(df['ConvertedCompYearly'].describe())

72       7322.0
374     30074.0
379     91295.0
385     53703.0
389    110000.0
Name: ConvertedCompYearly, dtype: float64
count    2.343500e+04
mean     8.615529e+04
std      1.867570e+05
min      1.000000e+00
25%      3.271200e+04
50%      6.500000e+04
75%      1.079715e+05
max      1.625660e+07
Name: ConvertedCompYearly, dtype: float64

In [58]:
print (missing_data['ConvertedCompYearly'].value_counts())

ConvertedCompYearly
False    23435
Name: count, dtype: int64

In [53]:
df['ConvertedCompYearly_Normalized'].describe()

count    23435.000000
mean         0.005300
std          0.011488
min          0.000000
25%          0.002012
50%          0.003998
75%          0.006642
max          1.000000
Name: ConvertedCompYearly_Normalized, dtype: float64

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [62]:
## Write your code here
print("Summary of actions completed:")
print("- Identified and removed duplicate rows.")
print("- Handled missing values by imputing the most frequent value.")
print("- Normalized compensation data (ConvertedCompYearly).")

Summary of actions completed:
- Identified and removed duplicate rows.
- Handled missing values by imputing the most frequent value.
- Normalized compensation data (ConvertedCompYearly).

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.